.chat-history {
    padding-top: var(--appui-spacing-200);
    padding-right: var(--appui-spacing-200);
    padding-left: var(--appui-spacing-200);
    flex-grow: 1;
}

.chat-input {
    flex-direction: row;
    align-self: center;
    width: 90%;
    max-width: 400px;
    padding-bottom: var(--appui-spacing-200);
    padding-top: var(--appui-spacing-200);
    flex-shrink: 0;
}

.input-field {
    flex-shrink: 1;
}

.appui-icon--squares-four--regular {
    --unity-image: var(--appui-icon-squares-four-regular);
}

.chat-entry-element {
    max-width: 65%;
}

.user-entry {
    align-self: flex-end;
}

.assistant-entry {
    align-self: flex-start;
}

.user-entry > .chat-entry-message-container {
    background-color: var(--appui-accent-200);
}

.assistant-entry > .chat-entry-message-container {
    background-color: var(--appui-primary-200);
}

.chat-entry-message-container {
    border-radius: var(--appui-border-radius-lg);
    padding: var(--appui-spacing-100);
}

.chat-entry-timestamp {
    padding-top: var(--appui-spacing-100);
}

.chat-entry-author {
    padding-bottom: var(--appui-spacing-100);
}

.user-entry > .chat-entry-timestamp {
    align-self: flex-end;
}

.user-entry > .chat-entry-author {
    align-self: flex-end;
}

.chat-entry-attachment {
    max-width: 200px;
    max-height: 200px;
}
