**/Library/*
**/Temp/*
**/*/obj/Debug/*
**/*.csproj
**/*.sln
**/*.userprefs
**/*.pidb*
**/*.suo
**/*.cache
**/*.unityproj
**/*Resharper*
**/*.orig.*
**/*.orig
**/.idea/*
**/.vs/*
**/build/*
*/.vsconfig
*/Logs/*
*/*DS_Store
*DS_Store