.tts-app {
    flex-grow: 1;
    padding: var(--appui-spacing-300);
}

.tts-input-area {
    flex-grow: 1;
}

.horizontal-container {
    flex-direction: row;
}

.tts-voice-dropdown {
}

.tts-speed-slider {
}